{% extends 'base.html' %}
{% block title %}About{% endblock  %}
{% block content %}

      <div class="container">
        <div class="page-top">
          <div class="top flex">
            <div class="page-name">
              <a href="" class="learn">
                <span class="material-icons"> keyboard_return </span> Go back
              </a>
              <h1>About</h1>
            </div>
           
          </div>
        </div>
      </div>
    <section class="sp">
      <div class="container">
        <p>{{web_info.about|safe}}</p>
      </div>
    </section>

{% endblock  %}
 